
trainer:
  max_epochs: 1
  batch_size: 32
  optimizer: Adam
  learning_rate: 1e-3  
  num_workers: 8
  betas: [0.9, 0.999]
  scheduler: none

caimira:
  n_dim: 5
  n_users: 3
  n_dim_user_embed: 1536  
  n_dim_item_embed: 1536
  lambda_s : 1e-6
  lambda_d : 1e-6

model1:
  n_dim: 1
  n_dim_prompt_embed: 1536
  n_dim_answer_embed: 1536
  n_dim_user_embed: 1536
  n_dim_user_features: 45
  n_users: 3
  lambda_x: 1e-5
  lambda_y: 1e-5
  lambda_r: 1e-5
  lambda_u: 1e-6
  has_user_features: false

